*,
*::after,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Livvic", sans-serif;
  font-weight: 600;
  background-color: var(--color-midnight-green);
  overflow-x: hidden;
}

main {
  flex-grow: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1210px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5rem;
  padding-right: 5rem;
}

@media screen and (max-width: 450px) {
  .container {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}
